<mat-card class="main-form" [formGroup]="mainForm">
  <mat-card-title>Ajout d'un contact !</mat-card-title>

  <mat-card class="form-card">

    <div class="form-row">

      <mat-form-field appearance="fill">
        <mat-label>Prénom(s)</mat-label>
        <input type="text" matInput [formControl]="firstNameCtrl">
        <mat-error>{{ getErrorFormControlMessage(firstNameCtrl) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput [formControl]="lastNameCtrl">
        <mat-error>{{ getErrorFormControlMessage(lastNameCtrl) }}</mat-error>
      </mat-form-field>
    </div>

  </mat-card>

  <mat-card class="form-card">

    <div class="form-row">

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailCtrl">
        <mat-error>{{ getErrorFormControlMessage(emailCtrl) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="datepicker" [formControl]="birthDateCtrl">
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Annuler</button>
            <button mat-raised-button matDatepickerApply color="primary">Ajouter</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-error>{{ getErrorFormControlMessage(birthDateCtrl) }}</mat-error>
      </mat-form-field>
    </div>

  </mat-card>

  <mat-card class="form-card">
    <mat-form-field appearance="fill" class="phone-number">
      <mat-label>Numéro de Téléphone</mat-label>
      <input type="tel" matInput [formControl]="phoneNumberCtrl">
    </mat-form-field>
    <mat-error>{{ getErrorFormControlMessage(phoneNumberCtrl) }}</mat-error>
  </mat-card>

  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Annuler</button>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary"
            [disabled]="mainForm.invalid || loading" (click)="onCreateNewContact()">Créer</button>
  </mat-dialog-actions>

  <mat-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-spinner>

</mat-card>

